global:
  namespace: online-boutique
  imageRegistry: docker.io/namdeopawar

services:
  - name: frontend
    image: frontend
    tag: v0.8.0
    replicas: 2
    service:
      port: 80
      targetPort: 8080
      type: ClusterIP
    env:
      - name: PORT
        value: "8080"
      - name: PRODUCT_CATALOG_SERVICE_ADDR
        value: "productcatalogservice:3550"
      - name: CURRENCY_SERVICE_ADDR
        value: "currencyservice:7000"
      - name: CART_SERVICE_ADDR
        value: "cartservice:7070"
      - name: RECOMMENDATION_SERVICE_ADDR
        value: "recommendationservice:8080"
      - name: SHIPPING_SERVICE_ADDR
        value: "shippingservice:50051"
      - name: CHECKOUT_SERVICE_ADDR
        value: "checkoutservice:5050"
      - name: AD_SERVICE_ADDR
        value: "adservice:9555"
    hpa:
      enabled: true
      minReplicas: 2
      maxReplicas: 5
      cpuUtilization: 60

  - name: productcatalogservice
    image: productcatalogservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 3550
      targetPort: 3550
    hpa:
      enabled: true
      minReplicas: 2
      maxReplicas: 5
      cpuUtilization: 70

  - name: cartservice
    image: cartservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 7070
      targetPort: 7070
    hpa:
      enabled: true
      minReplicas: 2
      maxReplicas: 5
      cpuUtilization: 70

  - name: checkoutservice
    image: checkoutservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 5050
      targetPort: 5050
    env:
      - name: PORT
        value: "5050"
      - name: PRODUCT_CATALOG_SERVICE_ADDR
        value: "productcatalogservice:3550"
      - name: SHIPPING_SERVICE_ADDR
        value: "shippingservice:50051"
      - name: PAYMENT_SERVICE_ADDR
        value: "paymentservice:50051"
      - name: EMAIL_SERVICE_ADDR
        value: "emailservice:8080"
      - name: CURRENCY_SERVICE_ADDR
        value: "currencyservice:7000"
      - name: CART_SERVICE_ADDR
        value: "cartservice:7070"
      - name: RECOMMENDATION_SERVICE_ADDR
        value: "recommendationservice:8080"

  - name: paymentservice
    image: paymentservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 50051
      targetPort: 50051

  - name: shippingservice
    image: shippingservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 50051
      targetPort: 50051

  - name: currencyservice
    image: currencyservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 7000
      targetPort: 7000

  - name: recommendationservice
    image: recommendationservice
    tag: v0.8.0
    replicas: 2
    service:
      port: 8080
      targetPort: 8080

  - name: emailservice
    image: emailservice
    tag: v0.8.0
    replicas: 1
    service:
      port: 8080
      targetPort: 8080

  - name: adservice
    image: adservice
    tag: v0.8.0
    replicas: 1
    service:
      port: 9555
      targetPort: 9555
