name                   = "aurora"
region                 = "us-east-1"
vpc_cidr               = "10.20.0.0/16"
public_subnet_cidr_a   = "10.20.1.0/24"
public_subnet_cidr_b   = "10.20.2.0/24"
private_subnet_cidr_a  = "10.20.101.0/24"
private_subnet_cidr_b  = "10.20.102.0/24"
